@model SRMA.Entities.UserEntity

@{
    ViewData["Title"] = "Registrarse";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elemento = document.getElementById("page-topbar");
        if (elemento) {
            elemento.style.display = "none";
        }
    });
    document.addEventListener("DOMContentLoaded", function () {
        var elementos = document.querySelectorAll(".vertical-menu");
        elementos.forEach(function (elemento) {
            elemento.style.display = "none";
        });
    });
</script>

<html>
<body>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                            <div class="row">
                                <!-- Columna izquierda para la imagen -->
                                <div class="col-lg-5 d-none d-lg-block rounded-left">
                                    <img src="/Theme/assets/images/Register.jpg" style="max-width:100%; height:100%" class="img-fluid">
                                </div>
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center mb-5">
                                            <a href="index.html" class="text-dark font-size-22 font-family-secondary">
                                                <i class="mdi mdi-album"></i> <b>SRMA</b>
                                            </a>
                                        </div>
                                        @if (ViewBag.ErrorMessage != null)
                                        {
                                            <script>
                                                Swal.fire({
                                                    title: 'Error',
                                                    text: '@ViewBag.ErrorMessage',
                                                    icon: 'error',
                                                    confirmButtonText: 'Aceptar'
                                                });
                                            </script>
                                        }
                                        <h1 class="h5 mb-1">¡Crea tú cuenta!</h1>
                                        <p class="text-muted mb-4">¿Todavía no tienes cuenta? Crea la tuya en menos de un minuto.</p>
                                        @using (Html.BeginForm("SignUp", "Login", FormMethod.Post, new { @class = "user" }))
                                        {
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label>Nombre</label>
                                                    @Html.TextBoxFor(m => m.userName, new {@class="form-control form-control-user", @placeholder="Nombre",@type="text"})
                                                    <span asp-validation-for="userName" class="text-danger"> </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>Apellido</label>
                                                    @Html.TextBoxFor(m => m.lastName, new {@class="form-control form-control-user", @placeholder="Apellido",@type="text"})
                                                    <span asp-validation-for="lastName" class="text-danger"> </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Cédula</label>
                                                @Html.TextBoxFor(m => m.Id, new {@class="form-control form-control-user", @placeholder="Cedula",@type="text"})
                                                <span asp-validation-for="Id" class="text-danger"> </span>
                                            </div>
                                            <div class="form-group">
                                                    <label>Teléfono</label>
                                                    @Html.TextBoxFor(m => m.cellphone, new {@class="form-control form-control-user", @placeholder="Telefono",@type="tel"})
                                                    <span asp-validation-for="cellphone" class="text-danger"> </span>
                                            </div>

                                            <div class="form-group">
                                                <label>Correo electronico</label>
                                                @Html.TextBoxFor(m => m.email, new {@class="form-control form-control-user", @placeholder="Correo electronico",@type="text"})
                                                <span asp-validation-for="email" class="text-danger"> </span>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label>Contraseña</label>
                                                    @Html.TextBoxFor(m => m.passwordU, new { @class = "form-control form-control-user", @placeholder = "Contraseña", @type = "password" })
                                                    <span asp-validation-for="passwordU" class="text-danger"> </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>Confirmar Contraseña</label>
                                                    @Html.TextBoxFor(m => m.confirmPassword, new { @class = "form-control form-control-user", @placeholder = "Confirmar Contraseña", @type = "password" })
                                                    <span asp-validation-for="confirmPassword" class="text-danger"> </span>
                                                </div>
                                                <div id="message" class="text-danger"></div>
                                            </div>

                                            <input type="submit" id="guardarRegistro" class="btn btn-success btn-block waves-effect waves-light" value="Registrar" />

                                            <div class="row mt-4">
                                                <div class="col-12 text-center">
                                                    <p class="text-muted mb-0"> ¿Ya tienes una cuenta?  <a href="@Url.Action("LogIn","Login")" class="text-muted font-weight-medium ml-1"><b>Iniciar sesión</b></a></p>
                                                </div> <!-- end col -->
                                            </div>
                                        }
                                        <!-- end row -->
                                    </div> <!-- end .padding-5 -->
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div> <!-- end .w-100 -->
                    </div> <!-- end .d-flex -->
                </div> <!-- end col-->
            </div> <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    @{
        var registroExitoso = ViewData.ModelState["RegistroExitoso"]?.Errors.Any() ?? false;
    }

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var mensajeExito = '@(registroExitoso ? "Registro exitoso." : "")';

            if (mensajeExito) {
                // Muestra el SweetAlert después de registrar el usuario correctamente
                Swal.fire({
                    title: '¡Éxito!',
                    text: mensajeExito,
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    // Redirige a la página de inicio de sesión al hacer clic en "OK"
                    if (result.isConfirmed) {
                        window.location.href = '@Url.Action("LogIn", "Login")';
                    }
                });
            }
        });
    </script>







</body>
</html>
