@model SRMA.Entities.UserEntity

@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                            <div class="row">
                                <!-- Columna izquierda para la imagen -->
                                <div class="col-lg-5 d-none d-lg-flex align-items-center justify-content-center rounded-center">
                                    <i class="fas fa-user" style="font-size: 350px;margin-left: 85px;"></i>
                                </div>
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center mb-5">
                                            <a href="index.html" class="text-dark font-size-22 font-family-secondary">
                                                <i class="mdi mdi-album"></i> <b>SRMA</b>
                                            </a>
                                        </div>
                                        @if (ViewBag.ErrorMessage != null)
                                        {
                                            <script>
                                                Swal.fire({
                                                    title: 'Error',
                                                    text: '@ViewBag.ErrorMessage',
                                                    icon: 'error',
                                                    confirmButtonText: 'Aceptar'
                                                });
                                            </script>
                                        }
                                        <h1 class="h5 mb-1">Cambiar los datos de tu cuenta</h1>
                                        <p class="text-muted mb-4">Una vez hayas terminado, utiliza la opción de "Guardar cambios"</p>
                                        @using (Html.BeginForm("UpdateUser", "User", FormMethod.Post, new { @class = "user" }))
                                        {
                                            <div class="form-group row">

                                                @Html.HiddenFor(m => m.IdUser)

                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label>Nombre</label>
                                                    @Html.TextBoxFor(m => m.userName, new {@class="form-control form-control-user", @placeholder="Nombre",@type="text"})
                                                    <span asp-validation-for="userName" class="text-danger"> </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>Apellido</label>
                                                    @Html.TextBoxFor(m => m.lastName, new {@class="form-control form-control-user", @placeholder="Apellido",@type="text"})
                                                    <span asp-validation-for="lastName" class="text-danger"> </span>
                                                </div>
                                                <div>
                                                     
                                                </div>
                                                <div class="form-group">
                                                    <label>Correo electrónico</label>
                                                    @Html.TextBoxFor(m => m.email, new {@class="form-control form-control-user", @placeholder="Correo electronico",@type="text"})
                                                    <span asp-validation-for="email" class="text-danger"> </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label>Teléfono</label>
                                                    @Html.TextBoxFor(m => m.cellphone, new {@class="form-control form-control-user", @placeholder="Telefono",@type="tel"})
                                                    <span asp-validation-for="cellphone" class="text-danger"> </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>Contraseña</label>
                                                    @Html.TextBoxFor(m => m.passwordU, new {@class="form-control form-control-user", @placeholder="Contraseña",@Type = "password"})
                                                    <span asp-validation-for="passwordU" class="text-danger"> </span>
                                                </div>
                                            </div>
                                            <div>
                                                 
                                            </div>
                                            
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <a href="@Url.Action("Index", "User")" class="btn btn-secondary btn-block waves-effect waves-light">Volver</a>
                                                </div>
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="submit" id="guardarCambiosButton"  class="btn btn-success btn-block waves-effect waves-light" value="Guardar cambios" />

                                                </div>
                                            </div>
                                        }
                                        <div class="form-group">
                                            @using (Html.BeginForm("RegisterProgram", "User", FormMethod.Post, new { id = "registerProgramForm" }))
                                            {
                                                <input type="submit" class="btn btn-info btn-block waves-effect waves-light" value="Registrar Programa de lealtad" />
                                            }

                                        </div>
                                        <div class="form-group">
                                          @*  <button class="btn btn-danger delete-product" data-product-id="IdUser">Eliminar</button>*@

                                            @using (Html.BeginForm("DeleteAcc", "User", FormMethod.Post, new { id = "deleteAccountForm" }))
                                            {
                                                <input type="submit" class="btn btn-danger btn-block waves-effect waves-light" value="Eliminar cuenta" />
                                            }

                                        </div>

                                        <!-- end row -->
                                    </div> <!-- end .padding-5 -->
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div> <!-- end .w-100 -->
                    </div> <!-- end .d-flex -->
                </div> <!-- end col-->
            </div> <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    
</body>
</html>

<script>
    function validateForm() {

        if (document.getElementById("userName").value === "" ||
            document.getElementById("lastName").value === "" ||
            document.getElementById("email").value === "") {

            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Por favor, completa todos los campos requeridos.',
                showConfirmButton: false
            });
            return false;
        }
        return true;
    }

    document.addEventListener("DOMContentLoaded", function () {
        var guardarCambiosButton = document.getElementById('guardarCambiosButton');
        guardarCambiosButton.addEventListener('click', function () {
            if (validateForm()) {

                Swal.fire('¡Éxito!', 'Se guardaron los cambios correctamente.', 'success');
            }
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Captura el evento de envío del formulario
        document.getElementById('deleteAccountForm').addEventListener('submit', function (event) {
            // Previene la acción predeterminada (enviar el formulario)
            event.preventDefault();

            // Muestra un pop-up de confirmación
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Esta acción eliminará tu cuenta permanentemente.',
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Volver',
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminar cuenta'
            }).then((result) => {
                // Si el usuario confirma, envía el formulario
                if (result.isConfirmed) {
                    document.getElementById('deleteAccountForm').submit();
                }
            });
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Captura el evento de envío del formulario
        document.getElementById('registerProgramForm').addEventListener('submit', function (event) {
            // Previene la acción predeterminada (enviar el formulario)
            event.preventDefault();

            // Muestra un pop-up de confirmación
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Esta acción registrará tu cuenta al programa de lealtad.',
                icon: 'question',
                showCancelButton: true,
                cancelButtonText: 'Cancelar',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, registrar'
            }).then((result) => {
                // Si el usuario confirma, envía el formulario
                if (result.isConfirmed) {
                    document.getElementById('registerProgramForm').submit();

                    // Muestra un pop-up de éxito después de enviar el formulario
                    Swal.fire('¡Éxito!', 'Tu cuenta se registró correctamente.', 'success');
                }
            });
        });
    });
</script>