@model IEnumerable<SRMA.Entities.UserEntity>

@{
    ViewData["Title"] = "GetUsers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<html>
<body>
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
            </div>
            <div class="row">
                <div class="col-xl-10">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Empleados</h4>
                            <div class ="input-group">
                                <div class="input-group-append">
                                <a href="@Url.Action("Create","Employee")" class="btn btn-success btn-block waves-effect waves-light"> Agregar empleado </a>
                                </div>
                            </div>
                            <form class="p-3">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar empleado ..." aria-label="Employee Search">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-centered table-striped table-nowrap">
                                    <thead>
                                        <tr>
                                            <th>
                                               Nombre
                                            </th>
                                            <th>
                                               Apellido
                                            </th>
                                            <th>
                                                Correo
                                            </th>
                                            
                                            <th>
                                              Cedula
                                            </th>
                                            <th>
                                               Celular
                                            </th>
                                            
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="table-user">@item.userName</td>
                                                  
                                                <td>
                                                    @item.lastName
                                                </td>
                                                <td>
                                                    @item.email
                                                </td>
                                                <td>
                                                    @item.Id
                                                </td>
                                                <td>
                                                    @item.cellphone
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("EmployeeInfo","Employee", new { IdUser = item.IdUser })" class="btn btn-secondary"> Ver Empleado </a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row-->

        </div> <!-- container-fluid -->
    </div>
    </div>
    
</body>
</html>
