@model SRMA.Entities.ReservationEntity

@{
    ViewData["Title"] = "AdminEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<html>
<body>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                            <div class="row">
                                <!-- Columna izquierda para la imagen -->
                                <div class="col-lg-5 d-none d-lg-block rounded-left">
                                    <img src="/Theme/assets/images/Employees.jpg" style="max-width:115%; height:100%" class="img-fluid">
                                </div>
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center mb-5">
                                            <a href="index.html" class="text-dark font-size-22 font-family-secondary">
                                                <i class="mdi mdi-album"></i> <b>SRMA</b>
                                            </a>
                                        </div>
                                        <h1 class="h5 mb-1">Cambiar los datos del empleado</h1>
                                        <p class="text-muted mb-4">Una vez hayas terminado, utiliza la opción de "Guardar cambios"</p>
                                        @using (Html.BeginForm("EditReser", "Reservation", FormMethod.Post, new { @class = "user" }))
                                        {
                                            <div class="form-group row">

                                                @Html.HiddenFor(m => m.IdReservation)

                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label>Nombre</label>
                                                    @Html.TextBoxFor(m => m.userName, new {@class="form-control form-control-user", @placeholder="Nombre",@type="text", @readonly="readonly"})
                                                    <span asp-validation-for="userName" class="text-danger"> </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>Apellido</label>
                                                    @Html.TextBoxFor(m => m.lastName, new {@class="form-control form-control-user", @placeholder="Apellido",@type="text", @readonly="readonly"})
                                                    <span asp-validation-for="lastName" class="text-danger"> </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label>Fecha y hora</label>
                                                    @Html.TextBoxFor(m => m.dateReservation, "{0:yyyy-MM-ddTHH:mm}", new { @class = "form-control form-control-user", @placeholder = "Fecha y hora", @type = "datetime-local" })
                                                    <span asp-validation-for="dateReservation" class="text-danger"></span>
                                                </div>
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label>Cantidad</label>
                                                    @Html.TextBoxFor(m => m.quantity, new { @class = "form-control form-control-user", @placeholder = "cantidad", @type = "text" })
                                                    <span asp-validation-for="dateReservation" class="text-danger"></span>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <label>Observaciones</label>
                                                        @Html.TextBoxFor(m => m.observations, new {@class="form-control form-control-user", @placeholder="Observaciones", @type="text"})
                                                        <span asp-validation-for="observations" class="text-danger"> </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <a href="@Url.Action("AdminReservation", "Reservation")" class="btn btn-secondary btn-block waves-effect waves-light">Volver</a>
                                                </div>
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="submit" id="guardarCambiosEm" class="btn btn-success btn-block waves-effect waves-light" value="Guardar cambios" />
                                                </div>
                                            </div>
                                        }
                                        <div class="form-group">
                                            @using (Html.BeginForm("DeleteAcc", "Employee", FormMethod.Post))
                                            {
                                                @Html.HiddenFor(m => m.IdUser)
                                                ;

                                                <input type="submit" id="eliminarEm" class="btn btn-danger btn-block waves-effect waves-light" value="Eliminar cuenta" />
                                            }

                                        </div>

                                        <!-- end row -->
                                    </div> <!-- end .padding-5 -->
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div> <!-- end .w-100 -->
                    </div> <!-- end .d-flex -->
                </div> <!-- end col-->
            </div> <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <script>
        // Agrega el código JavaScript en una función que se ejecutará cuando se haga clic en el botón "Guardar Cambios"
        document.addEventListener("DOMContentLoaded", function () {
            var guardarCambiosButton = document.getElementById('guardarCambiosEm');
            guardarCambiosButton.addEventListener('click', function () {

                Swal.fire('¡Éxito!', 'La información se editó correctamente.', 'success',);
            });
        });

            document.addEventListener("DOMContentLoaded", function () {
                var guardarCambiosButton = document.getElementById('eliminarEm');
                guardarCambiosButton.addEventListener('click', function () {

                    Swal.fire('¡Éxito!', 'Se elimino el empleado correctamente.', 'success',);
                });
            });
    </script><!-- end page -->

</body>
</html>
