@model IEnumerable<SRMA.Entities.ReservationEntity>

@{
    ViewData["Title"] = "Administrar reservaciones";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<html>
<body>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            @if (ViewBag.MsjError != null)
                            {
                                <div style="color:#dc3545">
                                    @ViewBag.MsjError
                                </div>
                            }
                            <h2 class="card-title text-center" style="font-size: 40px;">Reservaciones</h2>
                            <br />
                            <div>
                            </div>
                            <div class="table-responsive">
                                <table id="basic-datatable" class="table table-striped dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                            <th>Cantidad</th>
                                            <th>Observaciones</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var sortedModel = Model.OrderBy(item => Math.Abs((item.dateReservation - DateTime.Now).TotalDays));
                                        }
                                        @foreach (var item in sortedModel)
                                        {
                                            <tr>
                                                <td class="table-user">@item.userName</td>
                                                <td>@item.lastName</td>
                                                <td class="table-user">@item.dateReservation.ToString("yyyy-MM-dd")</td>
                                                <td>@item.dateReservation.ToString("HH:mm:ss")</td>
                                                <td>@item.quantity</td>
                                                <td style="overflow-x: auto; white-space: nowrap; max-width: 20px;">@item.observations</td>

                                                @if (item.statusReser == true && item.dateReservation > DateTime.Now)
                                                {
                                                    <td>Activa</td>
                                                }
                                                else
                                                {
                                                    <td>Inactiva</td>

                                                }

                                                @if (item.dateReservation > DateTime.Now && item.statusReser == true)
                                                {
                                                    <td>
                                                        <button class="btn btn-success insertar-puntos confirmar-asistencia-btn" data-employee-id="@item.IdUser" data-reservation-id="@item.IdReservation" data-toggle="tooltip" data-placement="top" title="Confirmar asistencia">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                                                                <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                                                            </svg>
                                                        </button>


                                                    </td>

                                                }
                                                else
                                                {
                                                   

                                                }

                                                
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row-->

        </div> <!-- container-fluid -->
    </div>
    <script>
        $(document).ready(function () {
            var employeeIdToDelete;

            // Función para ocultar permanentemente el botón y almacenar el estado en localStorage
            function hideAndStoreButton(employeeId) {
                $(".confirmar-asistencia-btn[data-employee-id='" + employeeId + "']").hide();
                localStorage.setItem("hiddenButton_" + employeeId, true);
            }

            $(".insertar-puntos").click(function () {
                employeeIdToDelete = $(this).data("employee-id");

                if (!localStorage.getItem("hiddenButton_" + employeeIdToDelete)) {
                    Swal.fire({
                        title: '¿Desea confirmar la asistencia?',
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Sí, confirmar',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: "@Url.Action("InsertPoints", "Reservation")",
                                method: "POST",
                                data: { IdUser: employeeIdToDelete },
                                success: function (result) {
                                    if (result.success) {
                                        Swal.fire('Error', 'No se pudo confirmar la asistencia', 'error');
                                    } else {
                                        hideAndStoreButton(employeeIdToDelete);
                                        Swal.fire('Éxito', 'Se ha confirmado la asistencia', 'success').then(function () {
                                            window.location.href = "@Url.Action("AdminReservation")";
                                        });
                                    }
                                },
                                error: function () {
                                    Swal.fire('Error', 'Hubo un error en la solicitud', 'error');
                                }
                            });
                        }
                    });
                }
            });

            // Oculta permanentemente los botones almacenados en localStorage al cargar la página
            $(".confirmar-asistencia-btn").each(function () {
                var employeeId = $(this).data("employee-id");
                if (localStorage.getItem("hiddenButton_" + employeeId)) {
                    $(this).hide();
                }
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#basic-datatable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                }
            });
        });
    </script>

</body>
</html>
