@model IEnumerable<SRMA.Entities.FidelityProEntity>
@{
    ViewData["Title"] = "AdminLoyaltyProgram";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>AdminLoyaltyProgram</h1>


<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Programa de Fidelidad</h4>
                      
                       

                        <table id="basic-datatable" class="table table-striped dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Código Unico</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Puntos</th>
                                    <th>Fecha de registro</th>
                                    <th>Redimir Puntos</th>
                                    
                                 
                                
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="table-user">@item.codeU</td>
                                        <td>@item.userName</td>
                                        <td>@item.lastName</td>
                                        <td>@item.earnedPoints</td>
                                        <td class="table-user">@item.startDate.ToString("yyyy-MM-dd")</td>
                                        <td>
                                            <a href="@Url.Action("RedimirPuntos","LoyaltyProgram", new {UserId = item.IdUser })" class="btn btn-info">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                                </svg>
                                            </a>

                                        
                                        </td>
                                    </tr>
                            

                                      



                                }

                            </tbody>
                        </table>

                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
        <!-- end row-->

    </div> <!-- container-fluid -->
</div>
<div class="modal" id="confirmationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este producto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

