@model SRMA.Entities.FidelityProEntity
@{
    ViewData["Title"] = "Programa Lealtad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>

<div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center min-vh-100">
                    <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                        <div class="row">
                            <!-- Columna izquierda para la imagen -->
                            <div class="col-lg-5 d-none d-lg-flex align-items-center justify-content-center rounded-center">
                                <i class="fas fa-user" style="font-size: 350px;margin-left: 85px;"></i>
                            </div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center mb-5">
                                        <a href="index.html" class="text-dark font-size-22 font-family-secondary">
                                            <i class="mdi mdi-album"></i> <b>SRMA</b>
                                        </a>
                                    </div>
                                    @if (ViewBag.ErrorMessage != null)
                                    {
                                        <script>
                                            Swal.fire({
                                                title: 'Error',
                                                text: '@ViewBag.ErrorMessage',
                                                icon: 'error',
                                                confirmButtonText: 'Aceptar'
                                            });
                                        </script>
                                    }
                                    <h1 class="h5 mb-1">Programa de Fidelidad</h1>
                                   
                                        <div class="form-group row">

                                            @Html.HiddenFor(m => m.IdUser)

                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label>Nombre</label>
                                                @Html.TextBoxFor(m => m.codeU, new {@class="form-control form-control-user", @placeholder="Nombre",@type="text"})
                                               
                                            <div class="col-sm-6">
                                                <label>Apellido</label>
                                                @Html.TextBoxFor(m => m.earnedPoints, new {@class="form-control form-control-user", @placeholder="Apellido",@type="text"})
                                               
                                            </div>
                                            <div>
                                            </div>
                                            <div class="form-group">
                                                <label>Correo electrónico</label>
                                                @Html.TextBoxFor(m => m.startDate, new {@class="form-control form-control-user", @placeholder="Correo electronico",@type="text"})
                                                
                                            </div>
                                        </div>
                                        <div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <a href="@Url.Action("Index", "User")" class="btn btn-secondary btn-block waves-effect waves-light">Volver</a>
                                            </div>
                                        </div>
                                   
                                    </div>

                                    <!-- end row -->
                                </div> <!-- end .padding-5 -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div> <!-- end .w-100 -->
                </div> <!-- end .d-flex -->
            </div> <!-- end col-->
        </div> <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->
   
</body>
</html>

