@model SRMA.Entities.FidelityProEntity
@{
    ViewData["Title"] = "Programa Lealtad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>

<div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center min-vh-100">
                    <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                        <div class="row">
                            <!-- Columna izquierda para la imagen -->
                            <div class="col-lg-5 d-none d-lg-flex align-items-center justify-content-center rounded-center">
                                <img src="~/Theme/assets/images/media/MenuFidelity.png" style="max-width: 150%; height: auto; display: block; margin: auto;  ">
                            </div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center mb-5">
                                        <a href="index.html" class="text-dark font-size-22 font-family-secondary">
                                            <i class="mdi mdi-album"></i> <b>SRMA</b>
                                        </a>
                                    </div>
                                        <h1 style="margin-left: 32%;" class="h5 mb-1">Programa de Fidelidad</h1>
                                        <br />
                                        <br />

                                        <div class="form-group row">
                                            @Html.HiddenFor(m => m.IdUser)

                                            <div style="margin-left: 27%;" class="col-sm-6 mb-3 mb-sm-0">
                                                <label>Código</label>
                                                @Html.TextBoxFor(m => m.codeU, new {@class="form-control form-control-user", @placeholder="Código",@type="text", @readonly = "readonly", style="font-size: 30px; font-weight: bold; text-align: center;"})
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div style="margin-left: 27%;" class="col-sm-6 mb-3 mb-sm-0">
                                                <label>Puntos</label>
                                                @Html.TextBoxFor(m => m.earnedPoints, new {@class="form-control form-control-user", @placeholder="Puntos", @type="text", @readonly = "readonly", style="font-size: 30px; font-weight: bold; text-align: center;"})

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div style="margin-left: 27%;" class="col-sm-6 mb-3 mb-sm-0">
                                                <label>Fecha de registro</label>
                                                @Html.TextBoxFor(m => m.startDate, new { @class = "form-control form-control-user", @placeholder = "Fecha de registro", @type = "Date", @readonly = "readonly", @id = "startDateTextBox" , style="font-size: 30px; font-weight: bold; text-align: center;"})
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                    </div>

                                    <div class="form-group row">
                                        <div style="margin-left: 27%;" class="col-sm-6 mb-3 mb-sm-0">
                                            <a href="@Url.Action("Index", "User")" class="btn btn-secondary btn-block waves-effect waves-light">Volver</a>
                                        </div>
                                    </div>

                                </div>

                                    <!-- end row -->
                                </div> <!-- end .padding-5 -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div> <!-- end .w-100 -->
                </div> <!-- end .d-flex -->
            </div> <!-- end col-->
        </div> <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->
   
</body>
</html>

<script>
    $(document).ready(function () {
        // Obtiene el valor del TextBox
        var startDateValue = $("#startDateTextBox").val();

        // Convierte la cadena a un objeto Date de JavaScript
        var startDate = new Date(startDateValue);

        // Formatea la fecha como MM/dd/yyyy
        var formattedDate = (startDate.getMonth() + 1) + '/' + startDate.getDate() + '/' + startDate.getFullYear();

        // Asigna el valor formateado de vuelta al TextBox
        $("#startDateTextBox").val(formattedDate);
    });
</script>

