@using SRMA.Entities;
@model IEnumerable<SRMA.Entities.UserEntity>


@{
    ViewData["Title"] = "Página Principal - Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<html>
<body>
    @{
        var urgentProductsJson = System.Text.Json.JsonSerializer.Serialize(ViewData["UrgentProducts"]);
    }
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- Sección de Productos Urgentes -->
                <div class="row justify-content-center">
                    <div class="col-xl-12 text-center">
                        <h4 style="font-size: 40px;">Productos urgentes</h4>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#urgentProductsModal">
                            <i class="fas fa-box-open" style="font-size: 80px;"></i>
                        </button>
                    </div>
                </div>

                <!-- Tablas de Clientes Registrados -->
                <div class="row mt-4">
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 style="font-size: 40px;">Clientes registrados</h4>
                                <br />
                                <table id="basic-datatable" class="table table-striped dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Correo</th>
                                            <th>Teléfono</th>
                                            <th>Cedula</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.Users)
                                        {
                                            <tr>
                                                <td class="table-user">@item.userName</td>
                                                <td>@item.lastName</td>
                                                <td>@item.email</td>
                                                <td>@item.cellphone</td>
                                                <td>@item.Id</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 style="font-size: 40px;">Empleados registrados</h4>
                                <br />
                                <div class="table-responsive">
                                    <table id="employee-datatable" class="table table-striped dt-responsive nowrap">
                                        <thead>

                                            <tr>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Correo</th>
                                                <th>Teléfono</th>
                                                <th>Cedula</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.Employees)
                                            {
                                                <tr>
                                                    <td class="table-user">@item.userName</td>
                                                    <td>@item.lastName</td>
                                                    <td>@item.email</td>
                                                    <td>@item.cellphone</td>
                                                    <td>@item.Id</td>

                                                  
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->

            </div> <!-- container-fluid -->
        </div>


        <div class="modal fade" id="urgentProductsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Productos Urgentes de Comprar:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @if (!string.IsNullOrEmpty(urgentProductsJson))
                        {
                            var urgentProducts = System.Text.Json.JsonSerializer.Deserialize<List<ProductEntity>>(urgentProductsJson);
                            <ul>
                                @foreach (var product in urgentProducts)
                                {
                                    <li>
                                        <strong>Nombre del Producto:</strong> @product.productName
                                    </li>
                                    <li>
                                        <strong>Cantidad:</strong> @product.stock
                                    </li>
                                    <hr> <!-- Agregar una línea divisoria entre los productos para mayor claridad -->
                                }
                            </ul>
                        }
                    </div>
                    <div class="modal-footer justify-content-center">
                        <div class="form-group row">
                            <button type="button" class="btn btn-secondary mx-auto d-block" data-dismiss="modal">Cerrar</button>
                        </div>
                        <div class="form-group row">
                            <a href="@Url.Action("Index","Product")" class="btn btn-info btn-block waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Revisar productos">
                                Revisar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            var urlParams = new URLSearchParams(window.location.search);
            var cameFromLogin = urlParams.get('cameFromLogin');

            if (cameFromLogin) {
                // Muestra el modal
                $('#urgentProductsModal').modal('show');
            }
        });
    </script>

    <!-- Inicializa los tooltips -->
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#basic-datatable').DataTable({
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                destroy: true
            });

            $('#employee-datatable').DataTable({
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                destroy: true
            });
        });



    </script>


</body>
</html>